.header {
    text-align: center;
}

.text {
    border: none;
    font-style: italic;
}

.text1 {
    border: none;
    font-style: italic;
}

.visible {
    border: none;
}

#test {
    border: solid;
    padding: 5px;
    width: 1200px;
}

#form {
    padding:5px;
    height: 300px;
    width: 300px;
}

.taiat {
    text-decoration: line-through;
}

.text:focus {
    background-color: yellow;
}

.text1:focus {
    background-color: yellow;
}

.visible:focus {
    background-color: yellow;
}

.search:focus {
    background-color: yellow;
}
